@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('CenturyGothic');
  src: url('../assets/font/CenturyGothic/bold/CenturyGothic-Bold.woff2') format('woff2'),
       url('../assets/font/CenturyGothic/bold/CenturyGothic-Bold.woff') format('woff'),
       url('../assets/font/CenturyGothic/bold/CenturyGothic-Bold.ttf') format('truetype'),
       url('../assets/font/CenturyGothic/bold/CenturyGothic-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

