.lightbox_wrap.scroll.scrollbar-inner.theme-black
  .lightbox_main
    .lb_icon
      span.icon-icon3
    .lb_title Success
    .lb_p Your letter has been successfully sent.We will reply you by e-mail in 5 working days.Thank you for your letter.If you do not receive the e-mail from us within 6 hours.You can also call the Toll-free Service for confirm, Thank you!
    .lb_btn
      a.czbtn.ajax_close(href="javascript:;" data-text="home") home