.lightbox_wrap.scroll.scrollbar-inner.theme-black
  .lightbox_main
    .lb_icon
      span.icon-icon2
    .lb_title Hey : )<br>gald to see you
    .lb_p You are already our member.We will automatically bring in your personal information after login. Would you like to login?
    .lb_btn
      a.czbtn.ajax_close(href="javascript:;" data-text="No,thanks") No,thanks
      a.czbtn.ajax_close(href="javascript:;" data-text="Ok") Ok