.lightbox_wrap.scroll.scrollbar-inner.theme-black
  .lightbox_main
    .lb_icon
      span.icon-icon1
    .lb_title What’s the warranty number ?
    .lb_p When you get the serial number of the one-time warranty offer, you can enter to get the offer within the period of use.
    .lb_btn
      a.czbtn.ajax_close(href="javascript:;" data-text="Ok") Ok
    