.lightbox_wrap.scroll.scrollbar-inner.theme-black
  .lightbox_main
    .lb_icon
      span.icon-icon3
    .lb_title Hello : )
    .lb_p Awesome! You have successfully sign up!<br>Sign in to with your account now.
    .lb_btn
      a.czbtn.ajax_close(href="member.html" data-text="home") home
      a.czbtn.ajax_close(href="member.html" data-text="sign in") sign in