.lightbox_wrap.scroll.scrollbar-inner.theme-black
  .lightbox_main
    .lb_icon
      span.icon-icon3
    .lb_title Success
    .lb_p awesome! You have successfully updated your password. Sign in to the Member Center with your new password now.
    .lb_btn
      a.czbtn.ajax_close(href="member_home.html" data-text="home") home
      a.czbtn.ajax_close(href="member.html" data-text="sign in") sign in