.lightbox_wrap

  .svg
    //- svg(xmlns="http://www.w3.org/2000/svg" width="100px" height="100px")
    //-   polyline(fill="none" stroke="#fff" stroke-width="8" stroke-miterlimit="10" points="45,12.5 6.75,12.5 6.75,70 45,70")
    //-   polyline(fill="none" stroke="#fff" stroke-width="8" stroke-miterlimit="10" points="45,32.125 25.875,32.125 25.875,50.875 45,50.875")
    //-   polyline(fill="none" stroke="#fff" stroke-width="8" stroke-miterlimit="10" points="53.25,32.125 91.5,32.125 91.5,88.5 53.25,88.5")
    //-   polyline(fill="none" stroke="#fff" stroke-width="8" stroke-miterlimit="10" points="53.25,50.875 72.375,50.875 72.375,70 53.25,70")
    //- svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="圖層_1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve")
    //-   path(fill="none" stroke="#DABD6D" d="M45.5,73.667H3.833V7.833H45.5v8H11.833v49.834H45.5V73.667z M45.5,54.5H22.667V27.333H45.5v8H30.667V46.5  H45.5V54.5z M95.5,93.168H53.834v-8H87.5V35.333H53.834v-8H95.5V93.168z M76.667,73.668H53.834v-8h14.833V54.502H53.834v-8h22.833  V73.668z")

    //- svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve")
    //-   g(id="圖層_1" display="none" opacity="0.49")
    //-     path(display="inline" fill="#040000" d="M45.5,73.667H3.833V7.833H45.5v8H11.833v49.834H45.5V73.667z M45.5,54.5H22.667V27.333 H45.5v8H30.667V46.5H45.5V54.5z M95.5,93.168H53.834v-8H87.5V35.333H53.834v-8H95.5V93.168z M76.667,73.668H53.834v-8h14.833 V54.502H53.834v-8h22.833V73.668z")
    //-   g(id="圖層_2")
    //-     path(fill="none" stroke="#fff" stroke-width="8" stroke-miterlimit="10" d="M53.834,31.333h37.833v57.833H53.834 M45.5,31.333 H26.833V50.5H45.5 M45.5,11.333H8v58.333h37.5 M53.834,69.667h18.999V50.5H53.834")

    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve")
      g
        path.a(fill="none" stroke="#fff" stroke-width="8" stroke-miterlimit="10" d="M53.834,31.333h37.833v57.833H53.834 M45.5,31.333 H26.833V50.5H45.5")
        path.a(fill="none" stroke="#fff" stroke-width="8" stroke-miterlimit="10" d="M45.5,69.667H8V11.333h37.5 M53.834,69.667h18.999 V50.5H53.834")
      g
        path(fill="none" stroke="#fff" stroke-width="1" stroke-miterlimit="10" d="M45.5,73.667H3.833V7.833H45.5v8H11.833v49.834H45.5V73.667z M45.5,54.5H22.667V27.333   H45.5v8H30.667V46.5H45.5V54.5z M95.5,93.168H53.834v-8H87.5V35.333H53.834v-8H95.5V93.168z M76.667,73.668H53.834v-8h14.833 V54.502H53.834v-8h22.833V73.668z")
    //- p changei
