.lightbox_wrap.scroll.scrollbar-inner.theme-black
  .lightbox_main
    .lb_icon
      span.icon-icon3
    .lb_title Successfully
    .lb_p Your application has been submitted and someone will contact you in the future.Please keep your contact phone open.If you do not receive a call from the commissioner within 6 hours of submitting the application,Please call the Toll-free Service to inquire about your scheduled maintenance case. Thank you!
    .lb_btn
      a.czbtn.ajax_close(href="javascript:;" data-text="Back") Back
      a.czbtn.ajax_close(href="javascript:;" data-text="Detail") Detail