<!DOCTYPE html>
html(lang="en")
  // head標籤 & 網站設定
  head(itemscope='itemscope', itemtype='http://schema.org/WebSite')
    //共用設定
    include ../layouts/_head.pug
    //獨立CSS
    link(rel="stylesheet", href="../../../assets/css/product.css")
  // 各頁面 CSS 分開
  body.product(data-page="product_search_list")
    // 導覽列
    include ../layouts/_navbar.pug
    // 主要內容
    main
      section.productsearch_hd
        .bn_title.waypoint
          h1.title_head SEARCH RESULT
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        .pdlist_model
          .top
            .dropdown
              .dropdown_click
                .dropdown_title Select Type
                .icon-arrow_right
              .dropdown_select
                .dropdown_opt.scroll.scrollbar-inner.theme-black
                  ul
                    li 保護貼 PG
                    li 手機殼 Aqua Case
                    li 充電線 Cable
                    li 充電座 Charge
                    li 車用 Wireless
            .dropdown
              .dropdown_click
                .dropdown_title Select Item
                .icon-arrow_right
              .dropdown_select
                .dropdown_opt.scroll.scrollbar-inner.theme-black
                  ul
                    li iPG A (頂規防塵）
                    li iPG S (頂規通用）
                    li iPG N (客制滿版）
                    li iPG Ag (客制滿版）
          .bottom
            a(href="javascript:;").btn_model.btn_filter
              span.icon-search
              p Search Again
      section.productsearch_ct
        .common_wrap
          .pd_list
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_01.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_02.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_03.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_04.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_05.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_06.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_07.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_08.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_09.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_09.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_09.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
            .pd_item.waypoint
              a(href="product_detail.html").item
                .item_pic
                  img(src="../../../uploads/product/pd_09.jpg", alt="")
                .item_sort GLASS PROTECTION
                h2.item_title CHANGEi Ushers in Effortless Function-
                .item_btn
                  .czbtn(data-text="view") view
          .page
            a(href="javascript:;").page_icon.icon-arrow_left
            .page_ul
              a(href="javascript:;").page_li.active
              a(href="javascript:;").page_li
              a(href="javascript:;").page_li
              a(href="javascript:;").page_li
              a(href="javascript:;").page_li
            a(href="javascript:;").page_icon.icon-arrow_right


    // 頁尾
    include ../layouts/_footer.pug

  //引入的script
  include ../layouts/_script.pug